---
const benefits = [
    {
        title: "Planificación Personalizada",
        description: "Recibe rutinas y planes de entrenamiento adaptados a tus objetivos, condición física y necesidades específicas.",
    },
    {
        title: "Corrección de Técnica",
        description: "Aprende la ejecución correcta de los ejercicios para evitar lesiones y maximizar resultados.",
    },
    {
        title: "Motivación y Seguimiento",
        description: "Mantén la constancia y la motivación gracias al apoyo y seguimiento continuo de un profesional.",
    },
    {
        title: "Optimización del Tiempo",
        description: "Aprovecha al máximo cada sesión con entrenamientos eficientes y enfocados en tus metas.",
    },
    {
        title: "Educación en Nutrición y Hábitos",
        description: "Recibe orientación sobre hábitos saludables y consejos nutricionales para complementar tu entrenamiento.",
    },
    {
        title: "Resultados Medibles",
        description: "Evalúa tu progreso con mediciones y ajustes periódicos para asegurar mejoras constantes.",
    },
];
--- 
<section class="flex flex-col bg-white dark:bg-gray-900 px-4 md:px-10">
	<div class="flex flex-col md:flex-row p-10 justify-center items-center">
		<div class="flex-col w-full md:w-1/2 flex justify-center h-full">
			<h2 class="text-5xl font-bold text-[#cfff13]">ELEVA TU FITNESS</h2>
			<p class="text-white">Dejate guiar por un entrenador experimentado, que te ayudara a obtener resultados reales.</p>
		</div>
		<div class="flex-col w-full md:w-1/2 p-10">
			<img src="/images/video-cover.png" alt="Hero Image" class="w-full h-auto"/>
		</div>
	</div>
	<div class="grid grid-cols-1 md:grid-cols-3 py-10 px-10 md:px-4 gap-6">
        {
            benefits.map((benefit) => (
                <div class="p-6 gap-4 rounded-2xl bg-gray-700">
                    <h3 class="text-xl font-bold text-white">{benefit.title}</h3>
                    <p class="text-white">{benefit.description}</p>
                </div>  ))
        }

	</div>
</section>