<section id="contacto" class="flex flex-col bg-gray-900 p-4 md:p-10">
    <div class="flex flex-col md:flex-row p-4 md:p-10 bg-lime-400 rounded-2xl">
        <div class="w-full md:w-2/3 flex justify-center h-full">
        <h2 class="text-3xl font-bold text-gray-900">
            ¡Contáctame!
            Estoy aquí para ayudarte a alcanzar tus metas de fitness.
        </h2>
        </div>
        <div class="flex flex-col w-full md:w-1/3 justify-center h-full">
            <!-- <img src="/images/contact.png" alt="Contact Image" class="w-full h-auto"/> -->
            <a
                href="https://wa.me/19413037872?text=Deseo%20m%C3%A1s%20informaci%C3%B3n%20de%20sus%20serivicios%20de%20Entrenador%20Personal"
                target="_blank"
                rel="noopener noreferrer"
                class="mt-4 bg-[#181e2e] text-[#bdfb00] text-center font-semibold py-2 px-4 rounded"
            >
                Contáctame por WhatsApp
            </a>
        </div>

    </div>
</section>