<section class="grid grid-cols-1 md:grid-cols-2 py-10 px-10 bg-gray-900 text-white">
		<div class="flex flex-col items-center justify-center">
			
			<h1 class="text-5xl font-bold mt-4 text-[#bdfb00]">Carlos Rojas Personal Trainer</h1>
			<p class="text-lg mt-2">Transforma tu cuerpo y tu mente con un entrenamiento personalizado.</p>
			<a href="https://wa.me/19413037872?text=Deseo%20m%C3%A1s%20informaci%C3%B3n%20de%20sus%20serivicios%20de%20Entrenador%20Personal" target="_blank" class="mt-4 bg-[#bdfb00] text-[#181e2e] font-semibold py-2 px-4 rounded">Contáctame</a>
		</div>
		<div class="flex items-center justify-center">
			<img src="/images/carlos-rojas-entrenador-personal-miami.png" alt="Carlos Rojas Personal Trainer" class="w-full h-auto rounded-lg shadow-lg"/>
		</div>

</section>