---
import Hero from '../components/Hero.astro';
import TopBanner from '../components/TopBanner.astro';
import Benefits from '../components/Benefits.astro';
import Offers from '../components/Offers.astro';
import Testimonials from '../components/Testimonials.astro';
import MeetTheTrainer from '../components/MeetTheTrainer.astro';
import Plans from '../components/Plans.astro';
import Contact from '../components/Contact.astro'
---

<div id="container">
	<main>
	<Hero/>
	<TopBanner/>
	<Benefits/>
	<Offers/>
	<MeetTheTrainer/>
	<Testimonials/>
	<Plans/>
	<Contact/>
	</main>

	
</div>
