<section id="acerca" class="flex flex-col bg-[#202737]">
  <div class="flex flex-col p-10 justify-center items-center gap-4">
    <h2 class="text-5xl font-bold mb-4 text-[#cfff13]">
      Conoce al Entrenador
    </h2>
  </div>
  <div class="flex flex-col md:flex-row w-full">
    <div class="md:w-1/3 w-full flex justify-center items-center p-4">
      <img
        src="/images/carlos-rojas-entrenador-personal.png"
        alt="Trainer"
        class="rounded-lg w-full h-auto object-cover max-w-xs"
      />
    </div>
    <div class="md:w-2/3 w-full flex flex-col justify-center p-4">
      <h2 class="text-4xl font-bold mb-4 text-[#cfff13]">
        Carlos Rojas
      </h2>
      <p class="text-base text-white">
        Carlos Rojas es un entrenador personal certificado con años de
        experiencia ayudando a sus clientes a alcanzar sus metas de salud y
        bienestar. Su enfoque personalizado y motivador lo distingue en el mundo
        del fitness.
      </p>
      <p class="text-base text-white mt-4">
        Además de su formación profesional, Carlos se mantiene actualizado con
        las últimas tendencias y estudios en entrenamiento físico y nutrición,
        asegurando que cada cliente reciba un plan adaptado a sus necesidades y
        objetivos.
      </p>
      <p class="text-base text-white mt-4">
        Su pasión por el bienestar integral lo ha llevado a trabajar con
        personas de todas las edades y niveles, promoviendo hábitos saludables y
        una mentalidad positiva para lograr resultados sostenibles a largo
        plazo.
      </p>
    </div>
  </div>
</section>
