---
const offers = [
  {
    title: "Plan de entrenamiento personalizado",
    description: "Recibe un plan de entrenamiento adaptado a tus objetivos y necesidades individuales.",
    image: "/images/offer1.png",
  },
  {
    title: "Seguimiento y asesoría continua",
    description: "Acompañamiento constante para resolver tus dudas y ajustar tu progreso semana a semana.",
    image: "/images/offer2.png",
  },
  {
    title: "Evaluación física inicial gratuita",
    description: "Realiza una evaluación física completa sin costo para establecer tu punto de partida.",
    image: "/images/offer3.png",
  },
  {
    title: "Acceso a comunidad exclusiva",
    description: "Únete a un grupo privado donde podrás compartir avances, motivarte y recibir consejos.",
    image: "/images/offer4.png",
  },
];
---
<section id="beneficios" class="bg-[#202737] flex flex-col 171e2e">
    <div class="flex flex-col p-6 md:p-10 justify-center items-center gap-4">
        <h2 class="text-5xl font-bold text-[#cfff13] text-center">QUÉ TE OFREZCO</h2>
        <p class="text-white text-center">Aprovecha nuestras ofertas especiales y promociones exclusivas para nuestros clientes. ¡No te las pierdas!</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 p-4">
        {
            offers.map((offer) => (
                <div class="text-white p-4 m-2 gap-4">
                    <img src={offer.image} alt={offer.title} class="w-full h-72 object-cover rounded-t-lg" />
                    <h3 class=" text-xl font-semibold mt-2">{offer.title}</h3>
                    <p class="">{offer.description}</p>
                </div>
            ))
        }
    </div>
</section>