<section class="bg-[#bdfb00]">
		<div class="flex flex-col items-center justify-center py-10">	
			<p class="text-lg mt-2">¡Bienvenido a mi sitio web! Aquí encontrarás información sobre mis servicios de entrenamiento personal.</p>
			<a href="#beneficios" class="mt-4 bg-[#181e2e] text-[#bdfb00] font-semibold py-2 px-4 rounded">Ver Servicios</a>
		</div>
</section>